.assign-1-shape-1 {
    width : 500px;
    margin : auto;
    padding : 20px;
    background-color: rgb(138 43 226);
    margin-bottom: 2%;

}

.assign-1-shape-2 {
    width : 500px;
    margin : auto;
    padding : 20px;
    background-color: rgb(138 43 226/0.5);
    margin-bottom: 2%;
}

.assign-1-shape-3 {
    width : 500px;
    margin : auto;
    padding : 20px;
    background-color: rgb(138 43 226/0.1);
    margin-bottom: 2%;
}